<!DOCTYPE html>
<html lang="en" ng-app="gobusApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GoBus</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ui-leaflet/dist/ui-leaflet.js"></script>
    <script src="index.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">go Bus</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Itinéraire</a></li>
                  <li><a href="#">Horaires</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover" ng-controller="findRouteController as route">


            <!-- Modal template definition -->
            <script type="text/ng-template" id="myModalContent.html">
              <div class="location-modal">
                <div class="modal-body">
                  <leaflet center="center" width="100%" height="320px"
                  event-broadcast="events" markers="markers" ></leaflet>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                </div>
              </div>
            </script>



            <h1 class="cover-heading">Itinéraire</h1>
            <p class="lead">Entrez un départ, une destination, et hop !</p>
            <p class="lead">

              <form ng-submit="route.submit()" class="form-horizontal" name="routeForm">

                  <div class="form-group" ng-class="{ 'has-error': routeForm.inputDeparture.$invalid }" >
                    <label class="sr-only" for="inputDeparture">Départ</label>
                    <div class="col-xs-10 col-sm-offset-2 col-sm-7">
                      <input ng-model="route.departure" ng-pattern="route.regex" type="text" class="form-control "
                        id="inputDeparture" name="inputDeparture" placeholder="Départ" required >
                    </div>
                    <button type="button" class="btn btn-info col-xs-2 col-sm-1" ng-click="route.open('departure')">
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error': routeForm.inputArrival.$invalid }">
                    <label class="sr-only" for="inputArrival">Destination</label>
                    <div class="col-xs-10 col-sm-offset-2 col-sm-7">
                      <input ng-model="route.arrival" ng-pattern="route.regex" type="text" class="form-control "
                        id="inputArrival" name="inputArrival" placeholder="Destination" required >
                    </div>
                    <button type="button" class="btn btn-info col-xs-2 col-sm-1" ng-click="route.open('arrival')">
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button>
                  </div>

                <input class="btn btn-primary" type="submit" value="Hop">

              </form>


            </p>


          </div>

          <div class="mastfoot">
            <div class="inner">
              <p class="photo_license">Photo
                <a href="https://www.flickr.com/photos/mypouss/16467900415/">En rouge et vert</a>
                de <a href="https://www.flickr.com/photos/mypouss/">Mypouss</a>,
                sous licence <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--    <script src="bower_components/jquery/dist/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!--    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->


  </body>


</html>
