html {
  background: url(img/16467900415_d4b291535a_prog.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: rgba(0,0,0,0.4);
}

.photo_license {
  font-size: 80%;
}

.location-modal {
  color: black;
  text-align: left;
  text-shadow: none;
}

.location-modal a {
  color: black;
}


.results {
  background-color: white;
  color: black;
  text-align: left;
  text-shadow: none;
  padding: 4px 40px;
  overflow: hidden;
}

.results h2 {
}

.result-list {
  min-height: 200px;
  float: left;
  width: 49%;
}

.result-detail {
min-height: 200px;
float: right;
width: 49%;
}

.step-line {
  margin: 0 6px;
}

.line-number {
  padding: 2px 6px;
  font-weight: bold;
  border: 1px solid;
}
